@page
@model TheEleganceShop.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductStockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCategory)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
