@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
    #headline {
        font-weight: 400;
        text-align: center;
        color: white;
    }

    .product-img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        
    }
     body {
        background-color: black;
    }

    
</style>

<div class="text-center">
    <h1 class="display-4" style="color: white;">The Luxury Elegance Shop</h1>
    <hr />
</div>

<form method="post">
    <div class="form-group">
        <label for="search" style="color: white;">Search Our Products</label>
        <input type="search" id="search" name="search" class="form-control" placeholder="What can we help you find" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


    


@if (Model.SearchResults != null && Model.SearchResults.Any())
{
    <h3 style="color: white;">Search Results:</h3>
    <ul class="list-group">
        @foreach (var product in Model.SearchResults)
        {
            <li class="list-group-item">
                <img src="@product.ProductImageUrl" alt="@product.ProductName" class="img-fluid" style="max-width: 150px;" />
                <h5>@product.ProductName</h5>
                <p>@product.ProductDescription</p>
                <p>Price: @product.ProductPrice USD</p>
                
            </li>
        }
    </ul>
}
    <h2 id="headline">New and trendy</h2>
    <div class="container">
        <div class="row">
            <!-- Product 1 -->
            <div class="col-md-3">
                <img src="/img/Zebra1.jpg" class="img-fluid product-img" alt="Shoe1" />
                <p class="text-center" style="color: white;">Zebra Yeezy Boost 350 V2</p>
                <a asp-page="/Products/Details" asp-route-id="1" class="btn btn-secondary btn-block">View</a>
            </div>

            <!-- Product 2 -->
            <div class="col-md-3">
                <img src="/img/J11.jpg" class="img-fluid product-img" alt="Shoe2" />
                <p class="text-center" style="color: white;">Jordan 11 Concord</p>
                <a asp-page="/Products/Details" asp-route-id="2" class="btn btn-secondary btn-block">View</a>
            </div>

            <!-- Product 3 -->
            <div class="col-md-3">
                <img src="/img/j4.jpg" class="img-fluid product-img" alt="Shoe3" />
                <p class="text-center" style="color: white;">Jordan 4 Lightning</p>
                <a asp-page="/Products/Details" asp-route-id="3" class="btn btn-secondary btn-block">View</a>
            </div>

            <!-- Product 4 -->
            <div class="col-md-3">
                <img src="/img/cactus.jpg" class="img-fluid product-img" alt="Shoe4" />
                <p class="text-center" style="color: white;">Nike Cactus Flee Plant</p>
                <a asp-page="/Products/Details" asp-route-id="4" class="btn btn-secondary btn-block">View</a>
            </div>
        </div>
    </div>


<hr style = "color: red"> 

<h2 id="headline">Our Most Popular Yeezy's</h2>
<div class="container">
    <div class="row">
        
        <div class="col-md-2">
            <img src="/img/onyx1.jpg" class="img-fluid product-img" alt="" />
            <p class="text-center" style="color: white;">Yeezy Slide Onyx</p>
            <a asp-page="/Products/Details" asp-route-id="5" class="btn btn-secondary btn-block">View</a>
        </div>

        
        <div class="col-md-2">
            <img src="/img/FoamSlide.jpeg" class="img-fluid product-img" alt="Foam Slides" />
            <p class="text-center" style="color: white;"> Yeezy Foam Runner 'Slate'</p>
            <a asp-page="/Products/Details" asp-route-id="6" class="btn btn-secondary btn-block">View</a>
        </div>

        
        <div class="col-md-2">
            <img src="/img/Boost.jpg" class="img-fluid product-img" alt="Magnet" />
            <p class="text-center" style="color: white;">Yeezy Boost 700 'Magnet'</p>
            <a asp-page="/Products/Details" asp-route-id="7" class="btn btn-secondary btn-block">View</a>
        </div>

        
        <div class="col-md-2">
            <img src="/img/Yeezy500.jpg" class="img-fluid product-img" alt="BLUSH" />
            <p class="text-center" style="color: white;">Yeezy Boost5 500 'Blush'</p>
            <a asp-page="/Products/Details" asp-route-id="8" class="btn btn-secondary btn-block">View</a>
        </div>

        
        <div class="col-md-2">
            <img src="/img/Pirates.jpg" class="img-fluid product-img" alt="Pirates" />
            <p class="text-center" style="color: white;">Yeezy Boost 350 'Pirate Black'</p>
            <a asp-page="/Products/Details" asp-route-id="9" class="btn btn-secondary btn-block">View</a>
        </div>

        
        <div class="col-md-2">
            <img src="/img/InsulatedBoot.jpg" class="img-fluid product-img" alt="Boots" />
            <p class="text-center" style="color: white;">Yeezy Insulated Boots</p>
            <a asp-page="/Products/Details" asp-route-id="10" class="btn btn-secondary btn-block">View</a>
        </div>

        
        
    </div>
</div>
