@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
    #headline {
        font-weight: 400;
        text-align: center;
        color: white;
    }

    .product-img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        
    }
     body {
        background-color: black;
    }

    #customize{
            width: 40%;
            height: 500px;
            object-fit: cover;
            border-radius: 8px;
            transform-style: preserve-3d;
            margin-left: 400px;
            background-color: black;
    

    }




</style>


<script>
    
    function snagimg() {

        var img = document.getElementById("customize");
        var swaggymattt = document.getElementById("swaggymattt");

        
        setInterval(function() {
            myimg(img, swaggymattt.value);
        }, 100);
    }

   
    function myimg(img, value) {
   
        img.style.transform = 'rotate(' + value + 'deg)';
    }
</script>

<div style="text-align: right; color: white"> 

@{
    // Admin means employee for the site.... 

        if (User.IsInRole("Admin"))
        {
                <h6> You are currently signed in as: Admin </h6>
        }
        else if (User.Identity.IsAuthenticated || User.IsInRole("Customer"))
        {
                <h6> You are currently signed in as: Customer </h6>
        }
        else
        {
                <h6> You are currently not signed in. Please log in or create an account </h6>
        }
}
</div>


 <div class="text-center">
    <h1 class="display-4" style="color: white;">The Luxury Elegance Shop</h1>
    <hr />
</div>

<form method="post">
    <div class="form-group">
        <label for="search" style="color: white;">Search Our Products</label>
        <input type="search" id="search" name="search" class="form-control" placeholder="What can we help you find " />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>


    
<!-- ONLY rendering the attributes of my product if their search is valid and >1 is returned..

-->

@if (Model.SearchResults != null && Model.SearchResults.Any())
{
    <h3 style="color: white;">Search Results:</h3>
    <ul class="list-group">
        @foreach (var product in Model.SearchResults)
        {
            <li class="list-group-item">
                <img src="@product.ProductImageUrl" alt="@product.ProductName" class="img-fluid " style="max-width: 150px;" />

                <h5>@product.ProductName</h5>
                <p>@product.ProductDescription </p>
                <p> Price: @product.ProductPrice USD</p>
                
            </li>
        }
    </ul>
}
    <h2 id="headline">New and trendy</h2>

<div class="container">
    <div class="row">
        @if (Model.Top != null && Model.Top.Any())
        {
            @foreach (var product in Model.Top)
            {
                <div class="col-md-3">
                    <img src="@product.ProductImageUrl" class="img-fluid product-img" alt="@product.ProductName" />
                    <p class="text-center" style="color: white;">@product.ProductName</p>
                    <a asp-page="/Products/Details" asp-route-id="@product.ProductID" class="btn btn-secondary btn-block">View</a>
                </div>
            }
        }
        else
        {
            <p style="color: white;">No top products available at the moment.</p>
        }
    </div>
</div>

<hr style="color: red">

<h2 id="headline" > Our Most Popular Yeezy's </h2>
<div class="container">
    <div class="row">
        @if (Model.Bottom != null && Model.Bottom.Any())
        {
            @foreach (var product in Model.Bottom)
            {
                <div class="col-md-3">
                    <img src="@product.ProductImageUrl" class="img-fluid product-img" alt="@product.ProductName" />
                    <p class="text-center" style="color: white;">@product.ProductName</p>
                    <a asp-page="/Products/Details" asp-route-id="@product.ProductID" class="btn btn-secondary btn-block">View</a>
                </div>

            }
        }
        else
        {
            <p style="color: white;">No bottom products available at the moment.</p>
        }
    </div>
</div>


@if(Model.Logo != null && Model.Logo.Any()){
    
    foreach(var item in Model.Logo){
                <img src = "@item.ProductImageUrl" class = "img-fluid product-img" alt="@item.ProductName"  id = "customize"/> 
                        <input type="range" value="1" min="1" max="360" id="swaggymattt" oninput="snagimg()"/> 
    }
}

            