@page
@model TheEleganceShop.Pages.OrderDetails.IndexModel

@{
    ViewData["Title"] = "Your Ordered Items";
}

<style>
    body, th, td {
        background-color: black;
        font-weight: 400;
        text-align: center;
        color: white;
    }
</style>

<h1> Your Orders </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductShoeSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductShoeSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeader.OrderHeaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                
                <a asp-page="./Details" asp-route-id="@item.OrderDetailID">Details</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
