@page
@model TheEleganceShop.Pages.OrderDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductShoeSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].OrderHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductShoeSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderHeader.OrderHeaderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderDetailID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderDetailID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
