@page
@model TheEleganceShop.Pages.OrderHeaders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderHeader</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderPaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderPaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderShippingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderShippingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.OrderZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.OrderZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderHeader.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderHeader.Customer.CustomerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderHeader.OrderHeaderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
