@page
@model TheEleganceShop.Pages.OrderHeaders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderPaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderPaymentCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].OrderZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderHeader[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderHeader) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPaymentCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderHeaderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderHeaderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderHeaderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
