@page
@model TheEleganceShop.Pages.Carts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cart[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cart) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CartID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CartID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CartID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
